<%
  const { 
    appType, isWeAppHost, title,
    assets_url, heads, bodies, pages, debug, microAppName, layout 
  } = htmlWebpackPlugin.options
%>
<!DOCTYPE html>
<html lang="zh">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <link rel="shortcut icon" href="https://gw.alipayobjects.com/zos/basement_prod/b2725a7a-bd7d-488a-8876-510140aa5791.ico" type="image/x-icon" />
    <% for(let i = 0; i < heads.length; i++) { %>
    <%= heads[i] %>
    <% } %>
  </head>
  <body>
    <!-- <%= JSON.stringify(htmlWebpackPlugin, null, 2) %> -->
    <% for(let i = 0; i < bodies.length; i++) { %>
    <%= bodies[i] %>
    <% } %>
    <script>
    window.env = '<%= env %>';
    <% if(!isWeAppHost) { %>
    window[Symbol.for('microAppsInfo')] = [
      <% if (layout) { %>
      '<%= layout %>',
      <% } %>
      '/app-config.js',
    ];
    <% } %>
    </script>
  </body>
</html>